
:root {
    --bg-color: rgb(33, 39, 63);
    --secondary-color: rgb(28, 32, 48);
    --inactive-text-color: white;
    --active-text-color: orange;
}

* {
    font-family: 'Arvo';
}

body{
    background-color: var(--bg-color);
    color: var(--inactive-text-color);
    text-align: center;
}

main {
    display: block;
    width: 80% auto;
}

select {
    width: 150px;
}




#section-left {
    float: left;
    margin-left: 25%;
    margin-right: 5%
}
 
#section-right {
    overflow: hidden
}

#verticalbar {
    position: fixed;
    right: 10px;
    height: 100%;
    display: block;
    width: 5%;
    background-color: var(--secondary-color)
    
    /*old
    float: right;
    min-height: 910px;*/
}

#navbar {
    position: fixed;
    overflow: auto;
    width: 100%;
    bottom: 0;
    right: 10px;
    background-color: var(--secondary-color);
    color: var(--inactive-text-color);
    padding: 30px;
    /*text-align: center;*/
}

#navbar .nav-links a {
    color: var(--inactive-text-color);
    text-decoration: none;
    margin: 0px;
    font-size: 19px;
    /*border: 1px solid aliceblue;*/
    padding: 0px;
    transition: font-size 0.5s;
}

#navbar .nav-links a:hover {
    font-size: 26px;
}

/*#navbar .nav-links*/
.active{
    color: var(--active-text-color);
    font-size: large;
    font-weight: bold;
}

.inactive{
    color: var(--inactive-text-color);
}

#navbar .nav-links mark {
    background: none;
    padding-right: 10px;
}