

* {
    font-family: 'Arial';
}

body, a{
    background-color:rgb(33, 39, 63);
    color:white;
    text-align: center;
}

body {
    
}

main {
    display: block;
    width: 80%;
}

#section-left {
    float: left;
    margin-left: 25%;
    margin-right: 5%
 }
 
 #section-right {
    overflow: hidden
 }

#verticalbar {
    display: block;
    width: 20%;
    min-height: 100px;
    float: right;
    background-color: rgb(28, 32, 48);

    /*overflow: hidden;
    float: right;
    background-color: rgb(28, 32, 48);*/
}

#navbar {
    position: relative;
    top: 600px;
    background-color: rgb(28, 32, 48);
    color: white;
    padding-top: 1px;
    padding-bottom: 30px;
    /*text-align: center;*/
}

#navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

#navbar .nav-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid aliceblue;
    padding: 6px;
}
